<div>
  <div>
    <h2>
      Past Book Club meetings
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Date
        </th>

        <th>
          Book
        </th>


        <th>
          Attendance
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_meetings.each do |a_meeting| %>
      <tr>

        <td>
          <%= a_meeting.date %>
        </td>

        <td>
          <a href="/books/<%= a_meeting.book_id %>"><%= a_meeting.book.title %>
        </td>

        <td>
          <%= a_meeting.attendances_count %>
        </td>
        <td>
          <a href="/meetings/<%= a_meeting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<hr>
<div>
   <h2>
   Other books
   </h2>
 <div>

   <table border="1">
     <tr>
       <th>
         Title
       </th>


       <th>
         Status
       </th>


       <th>
         Readers
       </th>



       <th>
       </th>
     </tr>


     <% @expired_books.each do |a_book| %>
     <tr>

       <td>
         <%= a_book.title %>
       </td>


       <td>
         <%= a_book.status %>
       </td>


       <td>
         <%= a_book.readers_count %>
       </td>

       <td>
         <a href="/books/<%= a_book.id %>">
           Show details
         </a>
       </td>
     </tr>
     <% end %>
   </table>
 </div>
</div>

<hr>
