<div>

  &emsp;
  <div>
    <h2>
      Past Book Club meetings
    </h2>
  </div>
</div>


<div>
  <div>
    <table class="table table-hover">
      <thead>
    <tr class="table-active">
        <th scope="col">
          Date
        </th>

        <th scope="col">
          Book discussed
        </th>


        <th scope="col">
          Attendance
        </th>

        <th scope="col">
        </th>
    </tr>
  </thead>
  <tbody>

      <% @past_meetings.each do |a_meeting| %>
      <tr>

        <td>
          <%= a_meeting.date.strftime("%D") %>
        </td>

        <td>
          <a href="/books/<%= a_meeting.book_id %>"><%= a_meeting.book_associated.title %>
        </td>

        <td>
          <%= a_meeting.attendances_count %>
        </td>
        <td>
          <a href="/meetings/<%= a_meeting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<div>
  &emsp;
   <h2>
   Past books
   </h2>
 <div>

   <table class="table table-hover">
      <thead>
    <tr class="table-active">
        <th scope="col">
         Title
       </th>

                            <th scope="col">
         Author
       </th>


                            <th scope="col">
         Genre
       </th>


              <th scope="col">
         Status
       </th>



       <th scope="col">
         Readers
       </th>

       <th scope="col">
       </th>
     </tr>
  </thead>
  <tbody>

     <% @expired_books.each do |a_book| %>
     <tr>

       <td>
         <%= a_book.title %>
       </td>

              <td>
         <%= a_book.author %>
       </td>

                     <td>
         <%= a_book.genre %>
       </td>

              <td>
         <% @meetings_of_book = @list_of_meetings.where({ :book_id => a_book.id }).at(0) %>
         
         <% if @meetings_of_book != nil  %> 
         Past Club read
         <% else  %> 
         Not chosen
         <% end %>

         
       </td>

       <td>
         <%= a_book.readers.count %>
       </td>



       <td>
         <a href="/books/<%= a_book.id %>">
           Show details
         </a>
       </td>
     </tr>
     <% end %>
       </tbody>
   </table>
 </div>
</div>
