<div>
  <div>
    <h2>
      Past Book Club meetings
    </h2>
  </div>
</div>


<div>
  <div>
    <table class="table table-hover">
      <thead>
    <tr class="table-active">
        <th scope="col">
          Date
        </th>

        <th scope="col">
          Book discussed
        </th>


        <th scope="col">
          Attendance
        </th>

        <th scope="col">
        </th>
    </tr>
  </thead>
  <tbody>

      <% @list_of_meetings.each do |a_meeting| %>
      <tr>

        <td>
          <%= a_meeting.date.strftime("%D") %>
        </td>

        <td>
          <a href="/books/<%= a_meeting.book_id %>"><%= a_meeting.book.title %>
        </td>

        <td>
          <%= a_meeting.attendances_count %>
        </td>
        <td>
          <a href="/meetings/<%= a_meeting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<hr>
<div>
   <h2>
   Other books
   </h2>
 <div>

   <table class="table table-hover">
      <thead>
    <tr class="table-active">
        <th scope="col">
         Title
       </th>


       <th scope="col">
         Status
       </th>


       <th scope="col">
         Readers
       </th>



       <th scope="col">
       </th>
     </tr>
  </thead>
  <tbody>

     <% @expired_books.each do |a_book| %>
     <tr>

       <td>
         <%= a_book.title %>
       </td>


       <td>
         <%= a_book.status %>
       </td>


       <td>
         <%= a_book.readers.count %>
       </td>

       <td>
         <a href="/books/<%= a_book.id %>">
           Show details
         </a>
       </td>
     </tr>
     <% end %>
       </tbody>
   </table>
 </div>
</div>
