<div>
 <div>
   <h2>
     Add a new book
   </h2>

   <form action="/insert_book" method="post">
     <div>
       <label for="title_box">
         Title
       </label>
       <input type="text" id="title_box" name="query_title">
     </div>

     <div>
       <label for="author_box">
         Author
       </label>
       <input type="text" id="author_box" name="query_author">
     </div>
    
      <div>
       <label for="genre_box">
         Genre
       </label>
        <select id="genre_box" name="query_genre">
        <option value="Fantasy">Fantasy</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Thriller">Thriller</option>
        <option value="Historical Fiction">Historical Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Horror">Horror</option>
        <option value="Adventure">Adventure</option>
        <option value="Dystopian">Dystopian</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Poetry">Poetry</option>
        </select>
        </div>
     <div>
       <label for="pages_box">
         Number of pages
       </label>
       <input type="number" id="pages_box" name="query_number_of_pages">
     </div>

     <div>
       <label for="cover_box">
       Book cover image URL
       </label>
       <input type="text" id="cover_box" name="query_cover_url">
     </div>
       <input type="hidden" id="status_box" name="query_status" value="Potential Club reading">
     <button class="btn btn-dark">
       Create book
     </button>
   </form>
   
 </div>
</div>
<hr>


   <h2>
     Create new poll
   </h2>

<form action="/insert_poll" method="post">
      <div>
        <label for="date_box">
          Meeting
        </label>
        <select id="date_box" name="query_date">
        <% @active_meetings.each do |a_book| %>
        <option value="<%= a_book.id %>"><%= a_book.date.strftime("%D") %></option>
        <% end %>
       </select>
      </div>
      
    <div class="form-group">
      <label for="book_id_box" class="form-label mt-4">Potential books</label>
      <select multiple="" id="book_id_box" name="query_book_ids">
          <% @potential_books.each do |a_book| %>
        <option value="<%= a_book.id %>"><%= a_book.title %></option>
        <% end %>
      </select>
    </div>
      <button class="btn btn-dark">
        Add to poll
      </button>
    </form>


<hr>
  <div>

    <h2>
      Create new Book Club meeting
    </h2>

<form action="/insert_meeting" method="post">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <select id="book_id_box" name="query_book_id">
        <% @list_of_books.each do |a_book| %>
        <option value="<%= a_book.id %>"><%= a_book.title %></option>
        <% end %>

       </select>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <select id="status_box" name="query_status">
        <option value="Future meeting">Future meeting</option>
        <option value="Current meeting">Current meeting</option>
        </select>
      </div>

      <button class="btn btn-dark">
        Create meeting
      </button>
    </form>
  </div>
</div>
<hr>



   <h2>
     Current poll
   </h2>

   <% if @poll_books.at(0) != nil %>
  
<h7> Votes for the meeting on <%= @next_meeting.date.strftime("%D") %></h7>

<center>
<%= pie_chart @poll_books.joins(:votes).group('title').count, library: { title: 'Votes per Book' }, legend: "left" %></center>

<form action="/close_poll" method="post">
      
    <div class="form-group">
      <input type="hidden" id="chosen_book_box" name="query_book_ids" value="<%= @votes_in_order.at(0).at(0) %>">
      <button class="btn btn-dark">
        Close poll
      </button>
    </form>

<% else  %>
<div> There are no open polls right now. </div>
<% end %>
