<div>
  <div>
    <h1>
      <%= @the_meeting.date.strftime("%B") %> Meeting details
    </h1>

    <div>
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>
 <% if current_member != nil %>
 <% if current_member.admin_status == true %>
      <div>
        <a href="/delete_meeting/<%= @the_meeting.id %>">
          Delete meeting
        </a>
      </div>
    </div>

    <% else %>
<div> </div>
     <% end %>
       <% else %>
       <div></div>

     <% end %>
    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_meeting.date.strftime("%D") %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_meeting.book.title %>
      </dd>

            <dt>
        Meeting notes
      </dt>
      <dd>
        <%= @the_meeting.notes %>
      </dd>

      <dt>
        Attendance
      </dt>
      <dd>
        <%= @the_meeting.attendances_count %>
      </dd>

      <dt>
        Photos
      </dt>
      <dd>
        <%= @the_meeting.photos %>
      </dd>
    </dl>
  </div>
</div>

<hr>
<div>
    <h2>
      Update Book Club Meeting Notes
    </h2>

<form action="/update_meeting" method="post">
<input type="hidden" id="book_box" name="query_book_id" value="<% @the_meeting.book_id %>">
<input type="hidden" id="date_box" name="query_date" value="<% @the_meeting.date %>">
           <div>
       <label for="attendance_box">
      Attendance count
       </label>
       <input type="number" id="attendance_box" name="query_attendances_count">
     </div>

       <div>
       <label for="notes_box">
         Notes
       </label>
       <input type="text" id="notes_box" name="query_notes">
     </div>
       <div>
       <label for="photos_box">
         Photo URL
       </label>
       <input type="text" id="photos_box" name="query_photos">
     </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <select id="status_box" name="query_status">
        <option value="Current meeting">Current meeting</option>
        <option value="Past meeting">Past meeting</option>
        </select>
      </div>
            <button>
        Update meeting
      </button>
      </form>
  