<div>
  <div>
    <h1>
      <%= @the_meeting.date.strftime("%B") %> Meeting details
    </h1>

    <div>
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>
 <% if current_member.admin_status == true %>
      <div>
        <a href="/delete_meeting/<%= @the_meeting.id %>">
          Delete meeting
        </a>
      </div>
    </div>

    <% else %>
<div> </div>
     <% end %>

    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_meeting.date.strftime("%D") %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_meeting.book.title %>
      </dd>

            <dt>
        Meeting notes
      </dt>
      <dd>
        <%= @the_meeting.notes %>
      </dd>

      <dt>
        Attendance
      </dt>
      <dd>
        <%= @the_meeting.attendances_count %>
      </dd>

      <dt>
        Photos
      </dt>
      <dd>
        <%= @the_meeting.photos %>
      </dd>
    </dl>
  </div>
</div>

<hr>

  