<div>
  <div>
    <h1>
      <%= @the_meeting.date.strftime("%B") %> Meeting details
    </h1>

    <div>
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_meeting/<%= @the_meeting.id %>">
          Delete meeting
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_meeting.date.strftime("%D") %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_meeting.book.title %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_meeting.status %>
      </dd>

      <dt>
        Attendance
      </dt>
      <dd>
        <%= @the_meeting.attendances_count %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit meeting
    </h2>

    <form action="/modify_meeting/<%= @the_meeting.id %>"  method="post" >
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_meeting.date %>">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_meeting.book_id %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_meeting.status %>">
      </div>

      <div>
        <label for="attendances_count_box">
          Attendances count
        </label>

        <input type="text" id="attendances_count_box" name="query_attendances_count" value="<%= @the_meeting.attendances_count %>">
      </div>

      <button>
        Update meeting
      </button>
    </form>
  </div>
</div>

<hr>
