<div>
  <div>
    <h1>
      List of all readings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new reading
    </h2>

    <form action="/insert_reading" method="post">
      <div>
        <label for="member_id_box">
          Member
        </label>

        <input type="text" id="member_id_box" name="query_member_id">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="progress_box">
          Progress
        </label>

        <input type="text" id="progress_box" name="query_progress">
      </div>

      <button>
        Create reading
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Member
        </th>

        <th>
          Book
        </th>

        <th>
          Status
        </th>

        <th>
          Progress
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_readings.each do |a_reading| %>
      <tr>
        <td>
          <%= a_reading.id %>
        </td>

        <td>
          <%= a_reading.member_id %>
        </td>

        <td>
          <%= a_reading.book_id %>
        </td>

        <td>
          <%= a_reading.status %>
        </td>

        <td>
          <%= a_reading.progress %>
        </td>

        <td>
          <%= time_ago_in_words(a_reading.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_reading.updated_at) %> ago
        </td>

        <td>
          <a href="/readings/<%= a_reading.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
