<div>
 <div>
 
   <center><h1>
     Booth's Book Club</center>
   </h1>
 </div>
</div>


<hr>


 <div>
   <h1><center>
     The club is currently reading:<dd>
     <a href="books/<%= @active_book.at(0).id %>"><%= @active_book.at(0).title %></a>

           
  </dd>
    <dl></center>
    
   </h1>
   <center><img src="<%= @active_book.at(0).cover_image_url %>" alt="Book cover"></center>

 </div>
 </center>
 <% if current_member == nil %>
     <center><div> Sign in to update your reading progress. </div></center>
    <% else %>
      <center><form action="/members/profile/<%= current_member.id %>" method="get">
      <button class="btn btn-lg btn-dark">
        Update my reading progress
      </button>
    </form></center>
<% end %>
<hr>
<h2> <center>Next meeting: <%= @active_meeting.date.strftime("%D") %></center>
</h2>
<% if current_member == nil %>
<div><center> Sign in to check-in on the next meeting.</center> </div>
    <% else %>
   <center><form action="/insert_attendance" method="post">
        <input type="hidden" id="member_id_box" name="query_member_id" value="<%= current_member.id %>">
        <input type="hidden" id="meeting_id_box" name="query_meeting_id" value="<%= @active_meeting.id %>">
      </div><div>
      <button class="btn btn-lg btn-dark">
        Check-in
      </button></div>
    </form></center>
  </div>
</div>
<% end %>

<hr>

<h2> <center>Vote on the next book</center>
</h2>
<% if current_member == nil %>
<div><center> Sign in to vote on the next book.</center> </div>
    <% else %>
   <center><form action="/insert_vote" method="post">
        <input type="hidden" id="member_id_box" name="query_member_id" value="<%= current_member.id %>">
        <input type="hidden" id="meeting_id_box" name="query_meeting_id" value="<%= @next_meeting.id %>">
        <label for="book_id_box">
          What should we read next?
        </label>
<div></div>
        <select id="book_id_box" name="query_book_id">
        <% @poll_books.each do |a_book| %>
        <option value="<%= a_book.id %>"><%= a_book.title %></option>
        <% end %>

       </select>
      </div>
      <button class="btn btn-dark btn-lg">
        Vote
      </button>
    </form></center>
  </div>
</div>
<% end %>
