<div>
  <div>
    <h1>
        <%= @the_book.title %>
    </h1>

    <div>
      <div>
        <a href="/meetings">
          Go back
        </a>
      </div>

      <dd>

<img src="<%= @the_book.cover_image_url %>" alt="Book cover">
  </dd>
    <dl>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_book.status %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @the_book.genre %>
      </dd>

      <dt>
        Number of pages
      </dt>
      <dd>
        <%= @the_book.number_of_pages %>
      </dd>

      <dt>
        Readers count
      </dt>
      <dd>
        <%= @the_book.readers.count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit book
    </h2>

    <form action="/modify_book/<%= @the_book.id %>" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_book.title %>">
      </div>

      <div>
        <label for="author_box">
          Author
        </label>

        <input type="text" id="author_box" name="query_author" value="<%= @the_book.author %>">
      </div>

      <div>
       <label for="genre_box">
         Genre
       </label>
        <select id="genre_box" name="query_genre">
        <option value="Fantasy">Fantasy</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Thriller">Thriller</option>
        <option value="Historical Fiction">Historical Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Horror">Horror</option>
        <option value="Adventure">Adventure</option>
        <option value="Dystopian">Dystopian</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Poetry">Poetry</option>
        </select>
        </div>

      <div>
        <label for="number_of_pages_box">
          Number of pages
        </label>

        <input type="text" id="number_of_pages_box" name="query_number_of_pages" value="<%= @the_book.number_of_pages %>">
      </div>

           <div>
       <label for="cover_box">
       Book cover image URL
       </label>
       <input type="text" id="cover_box" name="query_cover_url">
     </div>
      <div>
        <label for="status_box">
          Status
        </label>

        <select id="status_box" name="query_status">
        <option value="Past reading">Past reading</option>
        <option value="Current reading">Current reading</option>
        <option value="Potential Club reading">Potential Club reading</option>
        </select>
      </div>

      <button>
        Update book
      </button>
    </form>
  </div>
</div>

<hr>
      <div>
        <a href="/delete_book/<%= @the_book.id %>">
          Delete book
        </a>
      </div>
    </div>

<hr>
