<div>
  <div>
    <h1>
      Attendance #<%= @the_attendance.id %> details
    </h1>

    <div>
      <div>
        <a href="/attendances">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_attendance/<%= @the_attendance.id %>">
          Delete attendance
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Member
      </dt>
      <dd>
        <%= @the_attendance.member_id %>
      </dd>

      <dt>
        Meeting
      </dt>
      <dd>
        <%= @the_attendance.meeting_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_attendance.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_attendance.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit attendance
    </h2>

    <form action="/modify_attendance/<%= @the_attendance.id %>"  method="post" >
      <div>
        <label for="member_id_box">
          Member
        </label>

        <input type="text" id="member_id_box" name="query_member_id" value="<%= @the_attendance.member_id %>">
      </div>

      <div>
        <label for="meeting_id_box">
          Meeting
        </label>

        <input type="text" id="meeting_id_box" name="query_meeting_id" value="<%= @the_attendance.meeting_id %>">
      </div>

      <button>
        Update attendance
      </button>
    </form>
  </div>
</div>

<hr>
