<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
       <nav>
     <a href="/">Homepage</a>


     <% if current_member == nil %>
     <a href="/members/sign_in">Sign in</a>
     <a href="/members/sign_up">Sign up</a>
     <% else %>
     <a href="/members/sign_out">Sign out</a>
     <a href="/members/edit">Edit profile</a>
     <% end %>
   </nav>

    <%= yield %>
  </body>
</html>
