<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>

       <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
       <div class="container-fluid">
       <a class="navbar-brand" href="#">Book Club</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Homepage
          <span class="visually-hidden">(current)</span>
        </a></li>

      <li class="nav-item">
        <a class="nav-link" href="/meetings">Past meetings and books</a>
      </li>


             <li class="nav-item">
        <a class="nav-link" href="/members">Member roster</a>
      </li>


      <% if current_member == nil %>
      <li class="nav-item">
        <a class="nav-link" href="/members/sign_up">Sign up</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="/members/sign_in">Sign in</a>
      </li>
  <% else %>
        <li class="nav-item">
        <a class="nav-link" href="/members/profile/<%= current_member.id %>">My profile</a>
      </li>
       <% if current_member.admin_status == true %>
               <li class="nav-item">
        <a class="nav-link" href="/meetings/new">Co-chairs area</a>
      </li>
        <% else %>
        <li>
        </li>
            <% end %>
            
        <li class="nav-item">
        <a class="nav-link" href="/members/sign_out">Sign out</a>
      </li>
    <% end %>

      </ul>
    </div>
</div>
   </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
  <hr>
  <center><p>Author: Mariana Cardozo - App Development Fall/23</p>
  <p><a href="mailto:mcardozo@chicagobooth.edu">mcardozo@chicagobooth.edu</a></p></center>
</footer>
</html>
