<div>
  <div>
    <h1>
      List of all members
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
  <thead>
    <tr class="table-active">
      <th scope="col"> Profile picture</th>
      <th scope="col">Username</th>
      <th scope="col">Meetings attended</th>
      <th scope="col">Currently reading</th>
        <th scope="col">Profile</th>
    </tr>
  </thead>
  <tbody>

      <% @list_of_members.each do |a_member| %>

        <th scope="row">
          <img href="<%= a_member.profile_picture %>">
        </th>


      <th scope="row">
          <%= a_member.username %>
        </th>
  

     <th scope="row">
          <%= a_member.meetings_attended.count %>
        </th>

      <th scope="row"><% if a_member.readings.where({ :status => "Currently reading" }).at(0) == nil %>
      <%= a_member.username %> hasn't started reading yet.
      <% else %>
          <%= a_member.readings.where({ :status => "Currently reading" }).at(0).book_read.title %>
          <% end %>
        </th>

        <td>
          <a href="/members/<%= a_member.id %>">
            Go to profile
          </a>
        </td>
      </tr>
      <% end %>
        </tbody>
    </table>
  </div>
</div>

<hr>
