<div>
  <div>
    <h1>
      Member #<%= @the_member.id %> details
    </h1>

    <div>
      <div>
        <a href="/">
          Go back
        </a>
      </div>

<div>
  <div>
    <h1>
      Currrently reading
    </h1>

      <div>
        <a href="/delete_reading/<%= @the_reading.id %>">
          Delete reading
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Member
      </dt>
      <dd>
        <%= @the_reading.member_id %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_reading.book_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_reading.status %>
      </dd>

      <dt>
        Progress
      </dt>
      <dd>
        <%= @the_reading.progress %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_reading.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_reading.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
