<div>
  <div>
  <% if current_member == nil %>
<div> ERROR</div>
    <% else %>

    <h1>
      <%= @the_member.username %> details
    </h1>

          <div>
      <div>
        <a href="/members/edit">
          Edit profile
        </a>
      </div>

    <div>
      <div>
        <a href="/">
          Go back
        </a>
      </div>

<div>
  <div>
    <h1>
      Currrently reading: <%= @active_reading.book_read.title %>
    </h1>
      <dt>
        Progress
      </dt>
      <dd>
        <%= @active_reading.progress*100 %>%
      </dd>
      <div>
        <a href="/delete_reading/<%= @active_reading.id %>">
          Delete reading
        </a>
      </div>
    </div>

  </div>
</div>

<div>
   <h2>
   My past readings
   </h2>
 <div>

<table border="1">
     <tr>
       <th>
         Title
       </th>
      <th>
      
       </th>
     </tr>


     <% @past_readings.each do |a_book| %>
     <tr>

       <td>
         <%= a_book.book_read.title %>
       </td>


       <td>
         <a href="/books/<%= a_book.id %>">
           Show details
         </a>
       </td>
     </tr>
     <% end %>
   </table>
 </div>
</div>

<hr>
     <% end %>
