<div>
  <div>
    <h1>
      <%= @the_member.username %> details
    </h1>


    <div>
      <div>
        <a href="/">
          Go back
        </a>
      </div>

<div>
 <% if @active_reading == nil %>
     <h1>
      <%= @the_member.username %> hasn't started reading yet.
    </h1>
        <% else %>
  <div>
    <h1>
      Currrently reading: <%= @active_reading.book_read.title %>
    </h1>
      <div>
        <%= @the_member.username %>'s progress: <% @progress = @active_reading.progress %>
        <%= @progress %>/<%= @active_reading.book_read.number_of_pages %> pages
      </div>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @progress/(@active_reading.book_read.number_of_pages.to_f)*100 %>%;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="<%= @active_reading.book_read.number_of_pages %>"></div>
</div>

    <% end %>

  </div>
</div>
<hr>
<div>
   <h2>
   <%= @the_member.username %>'s past readings
   </h2>
 <div>
<table class="table table-hover" border="1">
     <tr>
       <th>
         Title
       </th>
      <th>
      Author
       </th>
              <th>
 Details
       </th>
                     <th>
 Delete
       </th>
     </tr>


     <% @past_readings.each do |a_reading| %>
     <tr>

       <td>
         <%= a_reading.book_read.title %>
       </td>
       <td>
         <%= a_reading.book_read.author %>
       </td>

       <td>
         <a href="/books/<%= a_reading.book_read.id %>">
           Show details
         </a>
       </td>
              <td>
        <a href="/delete_reading/<%= a_reading.id %>">Delete reading</a>
       </td>
     </tr>
     <% end %>
   </table>
 </div>
</div>
